.navbar {
  border-width:0 0 0.2rem 0;
}

.navContent {
  width:100%;
  position: relative;
  left:15%;
  height:4rem;
  
}

.nameLink:link {
  padding: 1.3rem 1rem;
  font-family: 'Georgia', Times, serif;
  color:#ffffff;
  float: left;
  position: relative;
  bottom: 12%;
}

.activeLink:link {
  padding: 1.5rem;
  position: relative;
  bottom: 0%;
  width: 3%;
  float: left;
  margin-left: 29%;
}

.deadLink:link {
  float:left;
  padding:1.5rem;
  position: relative;
  bottom: 0%;
  width: 3%;
  float: left;
}

.content {
  margin-top:1rem;
  width: 64%;
  padding: 1rem 1.3rem;
  background: #ffffff;
  font-size: 17px;
  position: relative;
  left: 15%;
  border: #dddddd solid 5px;
  align-items: center;
  overflow: auto;
}


.contentHeadText {

  border-style: solid;
    border-width: 0 0 0.09rem;
    border-color: #cccccc;
    text-align: left;
    color: #4aaaa5;
    font-size: 2rem;
    margin-bottom: 1em;
}

#aboutPic {
  width:25%;
  float: left;
  margin: 1rem 1rem 0 0;
  border: solid #777777 0.1rem;
}

.contentText {
  margin-top:1rem;
}
