body {
  background-image:url("../images/white-waves.png");
  margin:0px;
  padding:0px;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color:#777777;
}

.headingFont {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color:#ffffff;
}

#navbar {
  padding:20px;
  background:white;
  text-align:center;
  height:30px;
  border:solid #cccc;
  border-width:0 0 3px 0;
  width:100%;
}

.navContent {
  width:157%;
  position: relative;
  left:24%;
}

.nameLink:link {
  text-decoration: none;
  padding:2px 10px;
  background:#4aaaa5;
  float:left;
  margin-right:15%;
  position: relative;
  top:-20px;
}

.navButton {
  padding:20px 10px 20px;
  position:relative;
  top:-20px;
  width:80px;
  float:left;
  height:30px;
}

.active {
  background:#4aaaa5;
}

.activeLink {
  color:#ffffff;
}

.activeLink:link {
  padding:26px 10px;
  background:#4aaaa5;
  position:relative;
  top:-20px;
  width:80px;
  float:left;
  display:block;
  text-decoration: none;
}

.deadLink {
  color:#777777;
}

.deadLink:link {
  float:left;
  display:block;
  text-decoration: none;
  padding:26px 10px;
  position:relative;
  top:-20px;
  width:80px;
}

.deadLink:hover {
  background:#4aaaa5;
  color:#ffffff;
}

.content {
  width:920px;
  padding:20px 20px 50px;
  background:#ffffff;
  
  font-size:17px;
  position: relative;
  left:25%;
  border:#dddddd solid 5px;
  align-items: center;
}

.image {
  position: relative;
  top:-20px;
}

#aboutPic {
  width:20%;
  float:left;
  margin:20px 20px 0px 0px;
  position: relative;
  
  border:solid #777777 2px;
  z-index: 2;
}

.contentHeadText {
  border-style:solid;
  border-width:0px 0px 1px;
  border-color:#cccccc;
  text-align: left;
  color:#4aaaa5;
}

.aboutHead {
  color:#4aaaa5;
}

.contentText {
  text-align:left;
}

.footer {
  padding:20px;
  height:20px;
  text-align:center;
  position: fixed;
  bottom:0px;
  background:#666666;
  color:white;
  width:100%;
  border:solid #4aaaa5;
  border-width:5px 0px 0px 0px;
}

.contentImgDiv{
  text-align: center;
  width: 320px;
  height: 240px;
  float: left;
  margin: 40px;
  position: relative;
  left: 63px;
}

.contentImg {
  width: inherit;
}

.caption {
  background:#4aaaa5;
  color:#ffffff;
  padding:10px 0px;
  position: relative;
  bottom:80px;
}

.caption:hover {
  font-size:20px;
}

.space {
  height:100px;
}

.contactForm {
  text-align:left;
}

.name {
  width:800px;
  font-size:18px;
}

.email {
  width:800px;
  font-size:18px;
}

.textArea {
  width:800px;
  font-size:18px;
  height:250px;
  margin-bottom:2px;
}

#submit {
  background:#4aaaa5;
  color:#ffffff;
  padding:20px;
  position: relative;
  bottom:-36px;
  font-size:20px;
}

#submit:hover {
  outline:solid 5px #4aaaa5;
}

