.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-image:url("../images/white-waves.png");
  color:#777777;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size:16px;
}

h1 {
  font-size:2rem;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color:#ffffff;
}

.navbar {
  background:white;
  text-align:center;
  border:solid #cccc;
  border-width: 0 0 0.5rem 0;
  width:100%;
}



.nameLink {
  text-decoration: none;
  word-wrap: none;
  background:#4aaaa5;
  padding:1.5rem !important;
}

.navButton {
  font-size:1rem;
  display:inline-block;
  padding:2rem; 
}
  

.active {
  background:#4aaaa5;
}

.activeLink {
  color:#ffffff;
}

.activeLink:link {
  background:#4aaaa5;
  display:block;
  text-decoration: none;
}

.deadLink {
  color:#777777;
}

.deadLink:link {
  display:block;
  text-decoration: none;
  text-align:center;
 
}

.deadLink:hover {
  background:#4aaaa5;
  color:#ffffff;
}

.content {
  background:#ffffff;
  border:#dddddd solid 5px;
  align-items: center;
  padding:1rem;
  margin-top:1rem;
  
}


.portfolioCont {
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:nowrap;


}

.contentHeadText {
  border-style:solid;
  /* border-width:0px 0px 1px; */
  border-color:#cccccc;
  text-align: left;
  color:#4aaaa5;
}

.aboutHead {
  color:#4aaaa5;
}

.contentText {
  text-align:left;
}

.footer {
  text-align:center;
  position: fixed;
  bottom: 0;
  height:4rem;
  padding:1rem;
  background:#666666;
  color:white;
  border:solid #4aaaa5;
  border-width: 0.5rem 0 0 0;
}

.footerText {
  display:block;
  padding:0.4rem;

}

.contentImgDiv{
  margin-top:1rem;
  text-align: center;
  float: left;
  
}




.space {
  height:5rem;
}

.contactForm {
  text-align:left;
  line-height:2rem;
}

.name {
  font-size:18px;
}

.email {
  font-size:18px;
}

.textArea {
  font-size:18px;
  margin-bottom:2px;
}

#submit {
  background:#4aaaa5;
  color:#ffffff;
  padding:1rem;
  font-size:20px;
}




.hiddenDiv {
  padding:1px;
}

