[class*="col-"] {
  float: left;
}

.col-lg-1 {width: 8.33% !important;}
.col-lg-2 {width: 16.66% !important;}
.col-lg-3 {width: 25% !important;}
.col-lg-4 {width: 33.33% !important;}
.col-lg-5 {width: 41.66% !important;}
.col-lg-6 {width: 50% !important;}
.col-lg-7 {width: 58.33% !important;}
.col-lg-8 {width: 66.66% !important;}
.col-lg-9 {width: 75% !important;}
.col-lg-10 {width: 83.33% !important;}
.col-lg-11 {width: 91.66% !important;}
.col-lg-12 {width: 100% !important;}

* {
  box-sizing: border-box;
}


.navbar {
  border-width:0 0 0.2rem 0;
}


.nameLink:link {
  
  font-family: 'Georgia', Times, serif;
  color:#ffffff;
  padding:1.46rem;
}

.navRightButtons {
    display:inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.hiddenDiv {
  padding:1px;
}



.activeLink:link {
  float: left;  
}

.deadLink:link {
  float: left;
}

.content {
  
  background: #ffffff;
  font-size: 17px;
  
  border: #dddddd solid 0.1rem;
  align-items: center;
  overflow: auto;
}


.contentHeadText {
  border-style: solid;
  border-width: 0 0 0.09rem;
  border-color: #cccccc;
  text-align: left;
  color: #4aaaa5;
  font-size: 2rem;
  margin-bottom: 1em;
}

.contentHead {
  margin-top:1rem;
}

.aboutPic {
  width:20%;
  height: auto;
  float: left;
  margin: 0.2rem 0.5rem 0.5rem 0;
  border: solid #777777 0.1rem;
}

.contentText {
  margin-top:1rem;
}


.captionImg {
  width:50%;
}

.footer {
  height:3rem;
  padding:1rem;
}

.captionBlock {
  background:#4aaaa5;
  color:#ffffff;
  position: relative;
  bottom: 28px;
  left: 25%;
}

.textArea {
  height:15rem;
}

#submit:hover {
  outline:solid 1px #4aaaa5;
}